.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 16px;
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 32px;
  margin: 0;
}
.cardContainer {
  list-style-type: none;
  flex-basis: calc(100% / 5);
}
.card {
  background-color: white;
  min-height: 128px;
  border-radius: 4px;
  padding: 16px;
  margin: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
}
.link {
  font-weight: bold;
  margin-bottom: 4px;
}
.url {
  font-weight: normal;
  opacity: 0.75;
}
.description {
  margin: 0;
}
.footer {
  text-align: center;
  margin: 16px 0;
}

@media (max-width: 600px) {
  .cards {
    flex-direction: column;
    padding: 0;
  }
  .card {
    margin: 0;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    flex-basis: 100%;
  }
}
